/* Global styles */
body {
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
    background-size: cover;
    background-position: center;
    font-family: 'Tajawal', Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Form container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: right;
    direction: rtl;
    font-size: large;
    background: linear-gradient(to bottom, #f0f0f0, #e0e0e0);
}

/* Form styles */
form {
    background-color: rgba(255, 255, 255, 0.8); /* Add transparency to the form background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Limit form width for better readability */
    width: 90%; /* Ensure form fits on smaller screens */
}


/* Input fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    line-height: 1.5;
    background-color: rgba(255, 255, 255, 0.9); /* Add transparency to the input background */
}

/* Submit button */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #004080;
}

/* Image container */
.image-container {
    margin: 0 20px; /* Add spacing around the image */
}

/* Image styles */
.image-container img {
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #ccc; /* Border color and width */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
    max-width: 100%; /* Ensure the image fits within its container */
}

/* Heading styles */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff; /* Change text color to contrast with the background */
}

label {
    font-weight: bold;
    color: #333; /* Change text color to contrast with the background */
}