  /* Navigation styles */
  .navigationli ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 50px;
}

.navigationli ul li {
    display: inline-block;
    margin-bottom: 0;
}

.navigationli ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #2980b9;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    direction: rtl;
    /* Set text direction to right-to-left for Arabic text */
}

.navigationli ul li a:hover {
    background-color: #6dd5fa;
}

.recent-records {
margin-top: 20px;
}

.recent-records table {
    width: 100%;
    border-collapse: collapse;
}

.recent-records th,
.recent-records td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.recent-records th {
    background-color: #73afee;
}

.recent-records tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.recent-records tbody tr:hover {
    background-color: #ddd;
}

.recent-records p {
    font-style: italic;
    color: #888;
}

.recent-records h2 {
    margin-bottom: 10px;
}