<!DOCTYPE html>
{% load static %}

<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل الدخول</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
    <script src="{% static 'js/login.js' %}"></script>
</head>
<body>
  <h1>برنامج ادارة تسجيل المرضى<br>مستشفى أبو المنجا المركزي<br>مديرية الشئون الصحية بالقليوبية</h1>
  
  <!-- Container for the image and form -->
  <div class="container">
    <!-- Image container -->
    <div class="image-container">
      <img src="{% static 'images/login.jpg' %}">
    </div>

    <!-- Form -->
    <form id="loginForm" method="post">
      {% csrf_token %}
      {% if error_message %}
        <p>{{ error_message }}</p>
      {% endif %}
      <label for="username">اسم المستخدم:</label>
      <input type="text" id="username" name="username" placeholder="ادخل اسم المستخدم"><br><br>
      <label for="password">كلمة المرور:</label>
      <input type="password" id="password" name="password" placeholder="ادخل كلمة المرور"><br><br>
      <button type="submit">تسجيل الدخول</button>
    </form>
  </div>
</body>
</html>
