<!DOCTYPE html>
{% load static %}

<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>الرئيسية</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <div class="container">
    <header>
      <h1 class="heading">الصفحة الرئيسية</h1>
    </header>

    <nav class="navigation">
      <ul>
        <li><a href="{% url 'patient_registration' %}">تسجيل مريض جديد</a></li>
        <li><a href="{% url 'search_patient' %}">البحث عن مريض</a></li>
        <li><a href="{% url 'patient_list' %}">جميع المرضى</a></li>
        <li><a href="{% url 'generate_reports' %}">انشاء تقارير</a></li>
      </ul>
    </nav>

    <main>
      <div class="recent-patients">
        <h2>المرضى المحجوزين حديثاً</h2>
        <table>
          <tr>
            <th>الإسم بالكامل</th>  <th>رقم الدخول</th>   <th>تاريخ الدخول</th>  <th>وقت الدخول</th>  <th>الإجراءات</th>
          </tr>
          {% for patient in recent_admitted_patients %}
          <tr>
            <td>{{ patient.full_name }}</td>
            <td>{{ patient.admission_number }}</td>
            <td>{{ patient.admission_date }}</td>
            <td>{{ patient.admission_time }}</td>
            <td class="action-icons">
              <a href="{% url 'print_preview' patient.pk %}"><img src="{% static 'images/print_icon.png' %}" alt="Print Icon" style="width: 30px; height: 30px;"></a> |
              <a href="{% url 'patient_update' patient.pk %}"><img src="{% static 'images/edit_icon.png' %}" alt="Edit Icon" style="width: 30px; height: 30px;"></a> |
              <a href="{% url 'patient_delete' patient.pk %}"><img src="{% static 'images/delete_icon.png' %}" alt="Delete Icon" style="width: 30px; height: 30px;"></a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">لا يوجد مرضى محجوزين حديثاً</td>
          </tr>
          {% endfor %}
        </table>
      </div>

      <div class="recent-patients">
        <h2>المرضى الذين خرجوا حديثاً</h2>
        <table>
          <tr>
            <th>الإسم بالكامل</th>  <th>رقم الدخول</th>   <th>تاريخ الدخول</th>  <th>وقت الدخول</th>  <th>الإجراءات</th>
          </tr>

          {% for patient in recent_discharged_patients %}
          <tr>
            <td>{{ patient.full_name }}</td>
            <td>{{ patient.admission_number }}</td>
            <td>{{ patient.admission_date }}</td>
            <td>{{ patient.admission_time }}</td>
            <td class="action-icons">
              <a href="{% url 'print_preview' patient.pk %}"><img src="{% static 'images/print_icon.png' %}" alt="Print Icon" style="width: 30px; height: 30px;"></a> |
              <a href="{% url 'patient_update' patient.pk %}"><img src="{% static 'images/edit_icon.png' %}" alt="Edit Icon" style="width: 30px; height: 30px;"></a> |
              <a href="{% url 'patient_delete' patient.pk %}"><img src="{% static 'images/delete_icon.png' %}" alt="Delete Icon" style="width: 30px; height: 30px;"></a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">لا يوجد مرضى الذين خرجوا حديثاً</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </main>

    <footer>
      <div class="help-support">
        <p>Need Help? Contact Support.</p>
        <a href="#" class="icon-link"><img src="{% static 'images/user_guides_icon.png' %}" alt="User Guides Icon" class="icon" style="width: 30px; height: 30px;"></a> |
        <a href="#" class="icon-link"><img src="{% static 'images/faqs_icon.png' %}" alt="FAQs Icon" class="icon" style="width: 30px; height: 30px;"></a> |
        <a href="#" class="icon-link"><img src="{% static 'images/contact_support_icon.png' %}" alt="Contact Support Icon" class="icon" style="width: 30px; height: 30px;"></a>
      </div>
    </footer>
  </div>
</body>
</html>
